{% liquid
  assign client_portal_url = '/pages/your-song-portal'
  assign client_portal_label = 'Your Song Portal'
%}

{%comment%}
  Auto-redirect to Song Portal - customers should go directly there instead of account page
{%endcomment%}
<script>
  // Immediately redirect to song portal
  window.location.replace('{{ client_portal_url }}');
</script>

{%comment%}
  Fallback content in case JavaScript is disabled - show link to portal
{%endcomment%}
<noscript>
  <div style="padding: 40px; text-align: center; font-family: sans-serif;">
    <h1>Redirecting to Your Song Portal...</h1>
    <p>If you are not redirected automatically, <a href="{{ client_portal_url }}" style="color: #D4AF37; text-decoration: underline;">click here</a>.</p>
  </div>
</noscript>
